<div class="page-intro responsive-div animated pulse">
    <div class="container">
        <div class="row ">
            <div class="col-sm" style="padding-top: 20vh;">
                <h1 class="coffee-color" style="font-family: HarrietDisplayBlack; font-weight: bold; font-size:4.25rem; line-height: 1em;">
                    Freshly <br> Roasted <br> Coffee
                </h1>
                <h2 style="font-family: 'Open Sans';font-weight: 700; font-size:2rem; line-height: 1;">
                    FALL IN LOVE <br>
                    WITH COFFEE <br> CURATED <br>
                    JUST FOR YOU
                </h2>
                <button class="button">JOIN NOW</button>
            </div>
            <div class="col-sm">
        
            </div>
            <div class="col-sm"></div>
        </div>
    </div>
</div>
<div class="row responsive-div" style="padding-top: 0;">
    <div data-aos="fade-right" data-aos-delay="100" data-aos-duration="1200" data-aos-anchor-placement="center-bottom" class="col-sm aos-init aos-animate">
        <img class="img-col" src="/assets/images/ourcoffee-img1.jpg">
    </div>
    <div class="col-sm-4 aos-init aos-animate" data-aos="fade-up" data-aos-delay="250" data-aos-anchor-placement="center" data-aos-duration="700" style="padding-top: 20vh;">
        <h1 class="coffee-color" style="font-family: HarrietDisplayBlack; font-weight: bold; font-size:4.25rem; line-height: 1em;">
            Our<br> Coffee 
        </h1>
        <h2 style="font-family: 'Open Sans';font-weight: 400; font-size:1rem; line-height: 1.7; width:80%">
            Join our coffee club and experience super-premium coffee like no other.
             We start with great beans but we up the ante with our exclusive 9-step roasting process.
             Find your perfect match when you sign up for an Amora Coffee subscription – all of our blends cater to a particular flavor and intensity!        </h2>
        <button class="button">THE BLENDS</button>
    </div>
    <div   data-aos="fade-left" data-aos-delay="100" data-aos-duration="1200" data-aos-anchor-placement="center-bottom" class="col-sm aos-init aos-animate">
        <img class="img-col" src="/assets/images/coffee-img.jpg">
    </div>
</div>

<div class="row responsive-div" style="padding-top: 0;">
    <div data-aos="fade-right" data-aos-delay="100" data-aos-duration="1200" data-aos-anchor-placement="center-bottom" class="col-sm aos-init aos-animate">
        <img class="img-col" src="/assets/images/ourtea-img1.jpg">
    </div>
    <div class="col-sm-4 aos-init aos-animate" data-aos="fade-up" data-aos-delay="250" data-aos-anchor-placement="center" data-aos-duration="700" style="padding-top: 20vh;">
        <h1 class="coffee-color" style="font-family: HarrietDisplayBlack; font-weight: bold; font-size:4.25rem; line-height: 1em;">
            Our Tea
        </h1>
        <h2 style="font-family: 'Open Sans';font-weight: 400; font-size:1rem; line-height: 1.7; width:80%">
            Tea lovers rejoice. With an Amora Artisan Tea subscription, you get the convenience of a tea bag with the quality commonly associated with loose-leaf tea. 100% organic and 100% biodegradable bags.      </h2>
        <button class="button">SEE MORE</button>
    </div>
    <div   data-aos="fade-left" data-aos-delay="100" data-aos-duration="1200" data-aos-anchor-placement="center-bottom" class="col-sm aos-init aos-animate">
        <img class="img-col" src="/assets/images/ourtea-img2.jpg">
    </div>
</div>

<div class="row responsive-div" style="padding-top: 0;">
    <div data-aos="fade-right" data-aos-delay="100" data-aos-duration="1200" data-aos-anchor-placement="center-bottom" class="col-sm aos-init aos-animate">
        <img class="img-col" src="/assets/images/ourprocess-img1.jpg">
    </div>
    <div class="col-sm-4 aos-init aos-animate" data-aos="fade-up" data-aos-delay="250" data-aos-anchor-placement="center" data-aos-duration="700" style="padding-top: 20vh;">
        <h1 class="coffee-color" style="font-family: HarrietDisplayBlack; font-weight: bold; font-size:4.25rem; line-height: 1em;">
            Our<br>Process
        </h1>
        <h2 style="font-family: 'Open Sans';font-weight: 400; font-size:1rem; line-height: 1.7; width:80%">
            You will discover what coffee is supposed to taste like when you try premium Amora Coffee made with beans roasted on-demand, just for you. Roasted in the US with a 9-stage roasting process, not the traditional 3, our coffee beans are blasted under temps from 464 – 527°F for up to 30 minutes. </h2>
        <button class="button">LEARN MORE</button>
    </div>
    <div   data-aos="fade-left" data-aos-delay="100" data-aos-duration="1200" data-aos-anchor-placement="center-bottom" class="col-sm aos-init aos-animate">
        <img class="img-col" src="/assets/images/ourprocess-img2.jpg">
    </div>
</div>

<!-- <go-top-button   [animate]="true"
                 [speed]="50"
                 [acceleration]="2"
                 [scrollDistance]="5"
                 [classNames]="'scroll-button'"
                 [styles]="{
                    'border-radius': '20px 20px 20px 20px',
                    'right': '5px',
                    'color': 'green',
                    'border': '5px solid',
                    'line-height': '20px'
                 }">
         back to top
  </go-top-button> -->
  <button class="scroll-button" (click)="backToTop()">Back To Top</button>